@charset "UTF-8";

/* Colors:*/

:root {
    --primary: #00dfc0;
    --secondary: #009c86;
    --tertiary: #2a454e;
    --quaternary: #f0f0f0;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--tertiary);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--primary);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#image {
    display: block;
    background: var(--secondary) url(../images/bg-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.field {
    background-color: var(--tertiary);
    border: 2px solid var(--tertiary);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.field > label {
    display: none;
}

div.field > i {
    color: var(--quaternary);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.field > input {
    background-color: var(--primary);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px);
}

div.field > input:focus-within {
    background-color: var(--quaternary);
}

form > input[type=submit] {
    margin: auto;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--secondary);
    color: var(--quaternary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--tertiary);
}

form > a.button {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: var(--secondary);
    color: var(--quaternary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    text-decoration: none;
}

form > a.button:hover {
    background-color: var(--tertiary);
}

form > a.button > i {
    font-size: 1em;
}
